<a href="https://colab.research.google.com/github/Nassim-Hb/Python_project/blob/main/Projet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to my python project based on a dataset about league of legends.

Im a big fan of this game and I spend a lot of time on it.

First I will explain what is league of legends to understand a little bit more the game.

League of Legends (LoL) is a multiplayer online battle arena (MOBA) video game developed and published by Riot Games. It was released in October 2009 and is one of the most popular and widely played games in the world, with a large and active player base. In the game, players control a champion character with unique abilities and work with their team to destroy the enemy team's nexus, which is located at the heart of their base. The game is known for its fast-paced and highly competitive gameplay, as well as its extensive roster of champions and regular updates.

In League of Legends, champions are the playable characters that players control in the game. Each champion has their own unique set of abilities, strengths, and weaknesses, and they can be played in various roles such as top lane, mid lane, bottom lane (Include 2 players ADC and Support), or jungle. Some of the champions are designed for dealing physical damage, while others are designed for dealing magic damage or providing utility and support for the team.

There are currently 162 champions in League of Legends, and new champions are added periodically through updates. Champions can be obtained by purchasing them with in-game currency (IP) or with real money (RP), and players can also earn champions through the game's rotating weekly free champion roster.

The champions in League of Legends are diverse, ranging from melee fighters to ranged mages, tanks to assassins, and everything in between. Each champion has a unique playstyle and can be played in multiple ways, making League of Legends a highly strategic and tactical game. To be successful in the game, players must understand the strengths and weaknesses of each champion and how they can be used in combination with their team to achieve victory.

In this project we will focus on the champions of league of legends and we will see all the necessary stats of them in ranked games.

In [40]:
#First we add the pandas and numpy libraries and we import the dateset file that we have in our folder
import pandas as pd
import numpy as np

from google.colab import files
data_to_load = files.upload()

Saving Dataset_LoL.csv to Dataset_LoL (1).csv

In [41]:
#We read the dataset and we can see that there is 260 rows
import io
df = pd.read_csv(io.BytesIO(data_to_load['Dataset_LoL.csv']), sep= ';')
df

,Name,Class,Role,Tier,Score,Trend,Win %,Role %,Pick %,Ban %,KDA
0,Aatrox,Fighter,TOP,God,89.19,-1.82,49.85,88.43,10.23,24.26,1.87
1,Ahri,Mage,MID,A,54.88,-7.09,50.61,90.89,5.15,2.63,2.41
2,Akali,Assassin,MID,S,65.31,-9.59,48.29,75.88,9.71,16.95,2.31
3,Akali,Assassin,TOP,B,42.97,-0.66,46.26,22.86,2.93,16.95,1.99
4,Akshan,Marksman,MID,A,50.02,2.72,52.57,65.92,2.11,3.95,2.20
...,...,...,...,...,...,...,...,...,...,...,...
255,Zilean,Support,SUPPORT,A,51.46,5.20,51.60,82.25,2.65,1.43,2.92
256,Zilean,Support,MID,A,50.92,6.31,52.26,13.24,0.39,1.43,3.40
257,Zoe,Mage,MID,B,45.60,-3.40,48.61,82.65,2.55,1.25,2.48
258,Zoe,Mage,SUPPORT,D,31.77,0.00,46.84,13.97,0.39,1.22,2.14
259,Zyra,Mage,SUPPORT,A,54.33,5.84,53.30,90.07,3.37,2.54,2.25

The fact that there is 260 rows but only 162 champions it's because some champions can play in different roles as we can see line 2 and 3 Akali can be played in top and mid.

In [49]:
#Now we create another dateframe to see which champions have the best winrate
winrate = df.sort_values(by=['Win %'], ascending = False)
winrate.head(20)

,Name,Class,Role,Tier,Score,Trend,Win %,Role %,Pick %,Ban %,KDA
119,Mordekaiser,Fighter,JUNGLE,S,64.96,25.06,56.79,33.40,3.96,14.49,2.78
96,Kled,Fighter,MID,A,52.45,0.00,55.71,11.68,0.21,0.83,2.58
175,Shyvana,Fighter,JUNGLE,S,57.27,9.49,55.58,86.19,2.99,1.11,2.94
177,Singed,Tank,MID,A,52.75,3.06,55.51,14.05,0.35,0.51,2.64
207,Tryndamere,Fighter,MID,A,50.74,11.16,55.29,18.71,0.59,2.90,2.16
205,Trundle,Fighter,JUNGLE,S,57.91,13.15,55.03,74.02,3.33,3.37,2.95
127,Nilah,Marksman,ADC,A,52.65,7.81,54.75,95.48,4.43,7.63,2.26
225,Vi,Fighter,JUNGLE,S,57.92,9.92,54.60,91.80,3.90,1.03,2.75
85,Karthus,Mage,ADC,C,39.69,2.72,54.43,20.16,0.59,1.67,2.23
65,Heimerdinger,Mage,MID,A,49.19,1.90,54.23,19.05,1.10,5.69,1.93
103,Lillia,Fighter,TOP,A,49.82,5.92,54.09,17.34,1.23,3.89,2.05
169,Seraphine,Mage,ADC,B,44.97,0.03,54.07,20.97,1.08,1.99,2.87
102,Lillia,Fighter,JUNGLE,S,64.40,15.88,54.06,77.90,5.32,3.89,3.02
173,Shen,Tank,TOP,God,68.58,4.75,53.81,77.13,4.77,1.12,2.90
121,Nami,Support,SUPPORT,God,88.29,2.32,53.68,99.32,11.89,3.56,3.26
72,Janna,Support,SUPPORT,S,64.32,2.40,53.68,98.37,4.96,1.87,3.21
204,Tristana,Marksman,MID,A,48.59,0.00,53.60,10.60,0.80,4.77,2.19
234,Wukong,Fighter,JUNGLE,S,57.98,15.39,53.59,77.01,4.10,2.80,2.91
39,Dr. Mundo,Marksman,JUNGLE,A,48.88,0.00,53.45,30.26,1.66,3.47,3.06
135,Pantheon,Fighter,MID,A,50.18,1.26,53.41,23.59,1.41,1.49,2.31

In [43]:
pickrate = df.sort_values(by=['Pick %'], ascending = False)
pickrate.head(10)

,Name,Class,Role,Tier,Score,Trend,Win %,Role %,Pick %,Ban %,KDA
81,Kai'Sa,Marksman,ADC,God,90.99,-2.55,51.37,96.13,19.19,5.62,2.41
45,Ezreal,Marksman,ADC,God,83.16,15.02,49.37,92.84,18.57,3.57,2.38
25,Caitlyn,Marksman,ADC,God,92.44,3.83,50.84,96.96,18.03,17.22,2.20
78,Jhin,Marksman,ADC,God,78.44,3.43,51.58,96.11,14.15,3.94,2.83
107,Lux,Mage,SUPPORT,God,83.36,7.81,50.31,72.08,12.19,9.52,2.44
121,Nami,Support,SUPPORT,God,88.29,2.32,53.68,99.32,11.89,3.56,3.26
249,Zed,Assassin,MID,God,91.82,6.97,51.87,73.52,11.75,42.50,2.34
240,Yasuo,Fighter,MID,God,71.75,-2.10,49.88,69.13,11.57,19.10,1.71
117,Miss Fortune,Marksman,ADC,S,63.52,-5.25,50.69,87.95,11.16,5.29,2.16
215,Varus,Marksman,ADC,S,62.54,1.63,50.36,79.01,10.92,4.68,2.32

In [47]:
pickrate_bigger_than_3 = winrate[winrate['Pick %'] > 3]
pickrate_bigger_than_3.head(10)

,Name,Class,Role,Tier,Score,Trend,Win %,Role %,Pick %,Ban %,KDA
119,Mordekaiser,Fighter,JUNGLE,S,64.96,25.06,56.79,33.40,3.96,14.49,2.78
205,Trundle,Fighter,JUNGLE,S,57.91,13.15,55.03,74.02,3.33,3.37,2.95
127,Nilah,Marksman,ADC,A,52.65,7.81,54.75,95.48,4.43,7.63,2.26
225,Vi,Fighter,JUNGLE,S,57.92,9.92,54.60,91.80,3.90,1.03,2.75
102,Lillia,Fighter,JUNGLE,S,64.40,15.88,54.06,77.90,5.32,3.89,3.02
173,Shen,Tank,TOP,God,68.58,4.75,53.81,77.13,4.77,1.12,2.90
121,Nami,Support,SUPPORT,God,88.29,2.32,53.68,99.32,11.89,3.56,3.26
72,Janna,Support,SUPPORT,S,64.32,2.40,53.68,98.37,4.96,1.87,3.21
234,Wukong,Fighter,JUNGLE,S,57.98,15.39,53.59,77.01,4.10,2.80,2.91
48,Fiora,Fighter,TOP,God,92.87,24.01,53.35,96.89,9.21,25.85,1.79

In [58]:
pickrate_bigger_than_3_jungle = winrate[winrate['Role'] == 'JUNGLE']
pickrate_bigger_than_3_jungle.head(10)

,Name,Class,Role,Tier,Score,Trend,Win %,Role %,Pick %,Ban %,KDA
119,Mordekaiser,Fighter,JUNGLE,S,64.96,25.06,56.79,33.40,3.96,14.49,2.78
175,Shyvana,Fighter,JUNGLE,S,57.27,9.49,55.58,86.19,2.99,1.11,2.94
205,Trundle,Fighter,JUNGLE,S,57.91,13.15,55.03,74.02,3.33,3.37,2.95
225,Vi,Fighter,JUNGLE,S,57.92,9.92,54.60,91.80,3.90,1.03,2.75
102,Lillia,Fighter,JUNGLE,S,64.40,15.88,54.06,77.90,5.32,3.89,3.02
234,Wukong,Fighter,JUNGLE,S,57.98,15.39,53.59,77.01,4.10,2.80,2.91
39,Dr. Mundo,Marksman,JUNGLE,A,48.88,0.00,53.45,30.26,1.66,3.47,3.06
43,Elise,Mage,JUNGLE,A,51.17,2.94,53.08,92.57,2.56,2.24,2.97
128,Nocturne,Assassin,JUNGLE,A,52.70,7.57,53.05,82.72,3.24,1.91,2.77
179,Singed,Tank,JUNGLE,B,42.20,0.00,52.95,10.54,0.27,0.51,3.02